{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Peminjaman</h2>
    <p>Menampilkan daftar peminjaman</p>
    <div class="table-responsive">
        <table class="table" id="tabelpeminjaman">
            <thead>
            <tr>
                <th>No</th>
                <th>Nomor Kartu Anggota</th>
                <th>Sepeda</th>
                <th>Stasiun</th>
                <th>Waktu Kembali</th>
                <th>Biaya</th>
                <th>Denda</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for peminjaman in data_peminjaman %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ peminjaman.no_kartu }}</td>
                <td>{{ peminjaman.nomor }} - {{ peminjaman.merk }}</td>
                <td>{{ peminjaman.id_stasiun }} - {{ peminjaman.nama }}</td>
                <td>{{ peminjaman.datetime_kembali }}</td>
                <td>{{ peminjaman.biaya }}</td>
                <td>{{ peminjaman.denda }}</td>
                <td>
                    <button type="button" class="btn btn-default">Kembalikan</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelpeminjaman').dataTable();
});

function backFunc() {
    alert("The bike is returned!");
}
</script>

{% endblock %}
