{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Penugasan</h2>
    <p>Tambahkan penugasan baru</p>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="petugas">Petugas</label>
            <select class="form-control" id="petugas" name="petugas">
                {% for element in petugas_list %}
                <option value={{ element.ktp }}>{{ element.ktp }} - {{ element.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="tanggalMulai">Tanggal Mulai</label>
            <input type="datetime-local" class="form-control" id="tanggalMulai" name="waktu_mulai">
        </div>
        <div class="form-group">
            <label for="tanggalSelesai">Tanggal Selesai</label>
            <input type="datetime-local" class="form-control" id="tanggalMulai" name="waktu_selesai">
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select class="form-control" id="stasiun" name="stasiun">
                {% for element in stasiun_list %}
                <option value={{ element.id_stasiun }}>{{ element.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}