{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Penugasan</h2>
    <p>Menampilkan daftar acara</p>
    <div class="table-responsive">
        <table class="table" id="tabelPenugasan">
            <thead>
            <tr>
                <th>No</th>
                <th>Petugas</th>
                <th>Tanggal mulai</th>
                <th>Tanggal akhir</th>
                <th>Stasiun</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for penugasan in data_penugasan %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ penugasan.ktp }} - {{ penugasan.nama_petugas }}</td>
                <td>{{ penugasan.start_datetime }}</td>
                <td>{{ penugasan.end_datetime }}</td>
                <td>{{ penugasan.nama_stasiun }}</td>
                <td>
                    <button type="button" class="btn btn-default">Update</button>
                    <form method='POST' onsubmit="return confirm('Anda yakin menghapus penugasan ini?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="delete-penugasan" value="{{ penugasan.ktp }}#{{ penugasan.id_stasiun }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelPenugasan').dataTable();
});

function deleteFunc() {
  alert("The station will be deleted!");
}

function updateFunc(){
    alert("The station will be updated!");
}
</script>

{% endblock %}
