{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Acara</h2>
    <p>Tambahkan acara baru</p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="judul-acara">Judul</label>
            <input type="text" class="form-control" name="judul-acara" id="judul-acara" placeholder="Masukkan judul acara">
        </div>
        <div class="form-group">
            <label for="deskripsi-acara">Deskripsi</label>
            <input type="text" class="form-control" name="deskripsi-acara" id="deskripsi-acara" placeholder="Masukkan deskripsi acara">
        </div>
        <div class="form-group">
            <label for="is-gratis">Gratis</label>
            <select class="form-control" name="is-gratis" id="is-gratis">
                <option>Ya</option>
                <option>Tidak</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tanggal-mulai">Tanggal Mulai</label>
            <input type="date" class="form-control" name='tanggal-mulai' id="tanggal-mulai">
        </div>
        <div class="form-group">
            <label for="tanggal-selesai">Tanggal Selesai</label>
            <input type="date" class="form-control" name='tanggal-selesai' id="tanggal-selesai">
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select class="selectpicker" multiple name='stasiun' id="stasiun" data-live-search="true">
                {% for stasiun in data_stasiun %}
                    <option>{{ stasiun.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}

<script>
    $('select').selectpicker();
</script>

