{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Acara</h2>
    <p>Menampilkan daftar acara</p>
    <div class="table-responsive">
        <table class="table" id="tabelAcara">
            <thead>
            <tr>
                <th>No</th>
                <th>Judul</th>
                <th>Deskripsi</th>
                <th>Tanggal mulai</th>
                <th>Tanggal akhir</th>
                <th>Is free</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {% for acara in data_acara %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ acara.judul }}</td>
                <td>{{ acara.deskripsi }}</td>
                <td>{{ acara.tgl_mulai }}</td>
                <td>{{ acara.tgl_akhir }}</td>
                <td>{{ acara.is_free }}</td>
                <td>
                    <form method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="update-acara" value="{{ acara.id_acara }}">Update</button>
                    </form>
                    <form method='POST' onsubmit="return confirm('Anda yakin menghapus acara ini?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="delete-acara" value="{{ acara.id_acara }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelAcara').dataTable();
});
</script>

{% endblock %}

