{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Update Acara</h2>
    <p>Update acara yang tersedia</p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="judul-acara">Judul</label>
            <input type="text" class="form-control" name="judul-acara" id="judul-acara" value="{{ data_acara.judul }}">
        </div>
        <div class="form-group">
            <label for="deskripsi-acara">Deskripsi</label>
            <input type="text" class="form-control" name="deskripsi-acara" id="deskripsi-acara" value="{{ data_acara.deskripsi }}">
        </div>
        <div class="form-group">
            <label for="is-gratis">Gratis</label>
            <select class="form-control" name="is-gratis" id="is-gratis">
                {% if data_acara.is_free is True %}
                    <option selected>Ya</option>
                    <option>Tidak</option>
                {% else %}
                    <option>Ya</option>
                    <option selected>Tidak</optionselected>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="tanggal-mulai">Tanggal Mulai</label>
            <input type="date" class="form-control" name='tanggal-mulai' id="tanggal-mulai" value="{{ data_acara.tgl_mulai|date:'Y-m-d' }}">
        </div>
        <div class="form-group">
            <label for="tanggal-selesai">Tanggal Selesai</label>
            <input type="date" class="form-control" name='tanggal-selesai' id="tanggal-selesai" value="{{ data_acara.tgl_akhir|date:'Y-m-d' }}">
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select class="selectpicker" multiple name='stasiun' id="stasiun" data-live-search="true">
                {% for stasiun in data_stasiun %}
                    {% for dipilih in stasiun_dipilih %}
                        {% if dipilih.nama == stasiun.nama %}
                            <option selected>{{ stasiun.nama }}</option>
                        {% endif %}
                    {% endfor %}
                    {% for dipilih in stasiun_dipilih %}
                        {% if dipilih.nama != stasiun.nama %}
                            <option>{{ stasiun.nama }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}

<script>
    $('.datepicker').datepicker({
    format: 'YYYY-MM-DD'
 });
</script>
