{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Stasiun</h2>
    <p>Menampilkan daftar stasiun</p>
    <div class="table-responsive">
        <table class="table" id="tabelStasiun">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Langitude</th>
                <th>Longitude</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {% for stasiun in data_stasiun %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ stasiun.nama }}</td>
                <td>{{ stasiun.alamat }}</td>
                <td>{{ stasiun.lat }}</td>
                <td>{{ stasiun.long }}</td>
                <td>
                    <form method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="update-stasiun" value="{{ stasiun.id_stasiun }}">Update</button>
                    </form>
                    <form method='POST' onsubmit="return confirm('Anda yakin menghapus stasiun ini?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="delete-stasiun" value="{{ stasiun.id_stasiun }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelStasiun').dataTable();
});
</script>

{% endblock %}
