{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Update Stasiun</h2>
    <p>Update stasiun yang tersedia</p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nama-stasiun">Nama</label>
            <input type="text" class="form-control" name="nama-stasiun" id="nama-stasiun" value="{{ data_stasiun.nama }}">
        </div>
        <div class="form-group">
            <label for="alamat-stasiun">Alamat</label>
            <input type="text" class="form-control" name="alamat-stasiun" id="alamat-stasiun" value="{{ data_stasiun.alamat }}">
        </div>
        <div class="form-group">
            <label for="latitude-stasiun">Latitude</label>
            <input type="number" class="form-control" name="latitude-stasiun" id="latitude-stasiun" value="{{ data_stasiun.lat }}">
        </div>
        <div class="form-group">
            <label for="longitude-stasiun">Longitude</label>
            <input type="number" class="form-control" name="longitude-stasiun" id="longitude-stasiun" value="{{ data_stasiun.long }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
