{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Voucher</h2>
    <p>Tambahkan voucher baru</p>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" name="nama" id="nama" placeholder="Masukkan nama voucher">
        </div>
        <div class="form-group">
            <label for="kategori">Kategori</label>
            <select name="kategori" id="kategori" class="form-control">
                <option value="" disabled selected>Pilih Kategori Voucher</option>
                <option value="">Konsumsi</option>
                <option value="">Hiburan</option>
            </select>
        </div>
        <div class="form-group">
            <label for="poin">Nilai Poin</label>
            <input type="number" class="form-control" name="nilai-poin" id="nilai-poin" placeholder="Masukkan nilai poin voucher">
        </div>
        <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <input type="text" class="form-control" name="deskripsi" id="deskripsi" placeholder="Masukkan deskripsi voucher">
        </div>
        <div class="form-group">
            <label for="jumlah">Jumlah</label>
            <input type="number" class="form-control" name="jumlah" id="jumlah" placeholder="Masukkan jumlah voucher">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
