{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Voucher</h2>
    <p>Menampilkan daftar voucher</p>
    <div class="table-responsive">
        <table class="table" id="tabelVoucher">
            <thead>
            <tr>
                <th>Id Voucher</th>
                <th>Nama</th>
                <th>Kategori</th>
                <th>Nilai Poin</th>
                <th>Deskripsi</th>
                <th>Diklaim oleh</th>
                <th>Action [Admin]</th>
                <th>Action [Anggota]</th>
            </tr>
            </thead>
            <tbody>
            {% for voucher in data_voucher %}
            <tr>
                <td>{{ voucher.id_voucher }}</td>
                <td>{{ voucher.nama }}</td>
                <td>{{ voucher.kategori }}</td>
                <td>{{ voucher.nilai_poin }}</td>
                <td>{{ voucher.deskripsi }}</td>
                <td>{{ voucher.pengklaim }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="update-voucher" value="{{ voucher.id_voucher }}">Update</button>
                    </form>
                    <form method="POST" onsubmit="return confirm('Anda yakin menghapus voucher ini?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="delete-voucher" value="{{ voucher.id_voucher }}">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name='klaim-voucher' value="{{ voucher.id_voucher }}">Klaim</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelVoucher').dataTable();
});
</script>

{% endblock %}
