{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Update Voucher</h2>
    <p>Update voucher yang tersedia</p>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" name="nama" id="nama" value="{{ data_voucher.nama }}">
        </div>
        <div class="form-group">
            <label for="kategori">Kategori</label>
            <select name="kategori" id="kategori" class="form-control">
                {% if data_voucher.kategori == 'Konsumsi' %}
                <option value="" disabled selected>Pilih Kategori Voucher</option>
                    <option selected>Konsumsi</option>
                    <option value="">Hiburan</option>
                {% else %}
                <option value="" disabled selected>Pilih Kategori Voucher</option>
                    <option value="">Konsumsi</option>
                    <option selected>Hiburan</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="poin">Nilai Poin</label>
            <input type="number" class="form-control" name="nilai-poin" id="nilai-poin" value="{{ data_voucher.nilai_poin }}">
        </div>
        <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <input type="text" class="form-control" name="deskripsi" id="deskripsi" value="{{ data_voucher.deskripsi }}">
        </div>
        <div class="form-group">
            <label for="jumlah">Jumlah</label>
            <input type="number" class="form-control" name="jumlah" id="jumlah" value="{{ data_voucher.jumlah }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
