{% load static %}
<html lang="en">
<head>
    <title>TK Basdat Kelompok C3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>

    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Bike Sharing</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Acara
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/acara/create">Tambah Acara</a></li>
                            <li><a href="/acara">Daftar Acara</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Petugas
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/penugasan/create">Tambah Penugasan</a></li>
                            <li><a href="/penugasan">Daftar Penugasan</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stasiun
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/stasiun/create">Tambah Stasiun</a></li>
                            <li><a href="/stasiun">Daftar Stasiun</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sepeda
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/sepeda/create">Tambah Sepeda</a></li>
                            <li><a href="/sepeda">Daftar Sepeda</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Voucher
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/voucher/create">Tambah Voucher</a></li>
                            <li><a href="/voucher">Daftar Voucher</a></li>
                        </ul>
                    </li>
                    <li><a href="/peminjaman">Daftar Peminjaman</a></li>
                    <li><a href="/laporan">Daftar Laporan</a></li>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="container-fluid text-center">
    <p></p>
</footer>

</body>
</html>
