{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Topup</h2>
    <p>Tambahkan topup baru</p>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="judulAcara">Nominal</label>
            <input type="number" min="0" class="form-control" id="nominal" name="nominal" placeholder="Masukkan nominal">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
