{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Transaksi</h2>
    <p>Menampilkan daftar transaksi</p>
    <div class="table-responsive">
        <table class="table" id="tabelTransaksi">
            <thead>
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Jenis Transaksi</th>
                <th>Nominal</th>
            </tr>
            </thead>
            <tbody>
            {% for transaksi in data_transaksi %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaksi.date_time }}</td>
                <td>{{ transaksi.jenis }}</td>
                <td>{{ transaksi.nominal }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelTransaksi').dataTable();
});
</script>

{% endblock %}
