{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Laporan</h2>
    <p>Menampilkan daftar laporan</p>
    <div class="table-responsive">
        <table class="table" id="tabelLaporan">
            <thead>
            <tr>
                <th>Id Laporan</th>
                <th>Tanggal Pinjam</th>
                <th>Anggota</th>
                <th>Denda</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for laporan in data_laporan %}
            <tr>
                <td>{{ laporan.id_laporan }}</td>
                <td>{{ laporan.datetime_pinjam }}</td>
                <td>{{ laporan.nama }}</td>
                <td>{{ laporan.denda }}</td>
                <td>{{ laporan.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelLaporan').dataTable();
});
</script>

{% endblock %}
