{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Form Penambahan Sepeda</h2>
    <p>Tambahkan sepeda baru</p>

    <form class="form-horizontal" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="merk">Merk</label>
            <input type="text" class="form-control" id="merk" name="merk" placeholder="Masukkan merk sepeda">
        </div>
        <div class="form-group">
            <label for="jenis">Jenis</label>
            <input type="text" class="form-control" id="jenis" name="jenis" placeholder="Masukkan jenis sepeda">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status">
                <option value="TRUE">Tersedia</option>
                <option value="FALSE">Tidak Tersedia</option>
            </select>
        </div>
        <div class="form-group">
            <label for="stasiun">Stasiun</label>
            <select class="form-control" id="stasiun" name="stasiun">
                {% for element in stasiun_list %}
                <option value={{ element.id_stasiun }}>{{ element.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="penyumbang">Penyumbang</label>
            <select class="form-control" id="penyumbang" name="penyumbang">
                {% for element in penyumbang_list %}
                <option value={{ element.no_kartu }}>{{ element.nama }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
