{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Sepeda</h2>
    <p>Menampilkan daftar sepeda</p>
    <div class="table-responsive">
        <table class="table" id="tabelSepeda">
            <thead>
            <tr>
                <th>Nomor</th>
                <th>Merk</th>
                <th>Jenis</th>
                <th>Stasiun</th>
                <th>Status</th>
                <th>Penyumbang</th>
                <th>Action [admin]</th>
                <th>Action [anggota]</th>
            </tr>
            </thead>
            <tbody>
            {% for sepeda in data_sepeda %}
            <tr>
                <td>{{ sepeda.nomor }}</td>
                <td>{{ sepeda.merk }}</td>
                <td>{{ sepeda.jenis }}</td>
                <td>{{ sepeda.nama_stasiun }}</td>
                <td>{{ sepeda.status }}</td>
                <td>{{ sepeda.penyumbang }}</td>
                <td>
                    <button type="button" class="btn btn-default">Update</button>
                    <form method='POST' onsubmit="return confirm('Anda yakin menghapus sepeda ini?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="delete-sepeda" value="{{ sepeda.nomor }}">Delete</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-default">Pinjam</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#tabelSepeda').dataTable();
});
</script>

{% endblock %}
