{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Bike Sharing</h1>
    <p>TK Basdat C3</p>
    {% if user.is_authenticated %}
    <a href="#" class="btn btn-primary" role="button">Logout</a>
    {% else %}
    <form>
        <a href="/accounts/signup" class="btn btn-primary" role="button">Registrasi</a>
        <a href="/accounts/login" class="btn btn-success" role="button">Login</a>
    </form>
    {% endif %}
</div>

{% endblock %}
