{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <p>Anda telah login</p>
    {% else %}
    <h2>Form Login</h2>
    <p>Silakan memasukkan informasi Anda</p>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label for="nomorKTP">No KTP</label>
            <input type="number" class="form-control" id="nomorKTP" placeholder="Masukkan nomor KTP">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Masukkan alamat email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
