{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
    <h1>Bike Sharing</h1>
    <p>TK Basdat C3</p>
    {% if user.is_authenticated %}
    <a href="#" class="btn btn-primary" role="button">Logout</a>
    {% else %}
    <form>
        <a href="/accounts/signup/petugas" class="btn btn-primary" role="button">Petugas</a>
        <a href="/accounts/signup/anggota" class="btn btn-success" role="button">Anggota</a>
    </form>
    {% endif %}
</div>

{% endblock %}
