{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <p>Anda sedang login, logout terlebih dahulu</p>
    {% else %}
    <h2>Form Pendaftaran Petugas</h2>
    <p>Silakan memasukkan informasi Anda</p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ person_form.ktp|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ person_form.nama|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ user_form.email|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ person_form.tgl_lahir|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ person_form.no_telp|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ person_form.alamat|as_crispy_field }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
