{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <p>Anda sedang login, logout terlebih dahulu</p>
    {% else %}
    <h2>Form Pendaftaran Anggota</h2>
    <p>Silakan memasukkan informasi Anda</p>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label for="nomorKTP">Nomor KTP</label>
            <input type="number" class="form-control" id="nomorKTP" placeholder="Masukkan nomor KTP">
        </div>
        <div class="form-group">
            <label for="namaLengkap">Nama Lengkap</label>
            <input type="text" class="form-control" id="namaLengkap" placeholder="Masukkan nama lengkap">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Masukkan alamat email">
        </div>
        <div class="form-group">
            <label for="tanggalLahir">Tanggal Lahir</label>
            <input type="date" class="form-control" id="tanggalLahir">
        </div>
        <div class="form-group">
            <label for="nomorTelepon">Nomor Telepon</label>
            <input type="tel" class="form-control" id="nomorTelepon" placeholder="Masukkan nomor telepon">
        </div>
        <div class="form-group">
            <label for="alamat">Alamat</label>
            <input type="text" class="form-control" id="alamat" placeholder="Masukkan alamat">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
